// Fonts preferences
$sans-family: Roboto, sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 16px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

// Font weight
// $light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

//Light Colors
$text-base-color: #434648;
$text-link-blue: #4f9eee;
$text-link-blue-active: #0036c7;

$black: #0d122b;
$light: #ececec;
$smoke: #d2c7c7;
$gray: #6b7886;
$white: #fff;

// Dark Colors
$dark-text-base-color: #c7bebe;
$dark-text-link-blue: #ff5277;
$dark-text-link-blue-active: #ff2957;

$dark-black: #131418;
$dark-white: #eaeaea;
$dark-light: #1b1d25;
$dark-smoke: #4a4d56;
$dark-gray: #767f87;

// Width of the content area
$wide-size: 890px;
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import sass files
@import "klise/fonts", "klise/base", "klise/layout", "klise/post",
  "klise/miscellaneous", "klise/syntax", "klise/dark";



// publications page
.publication {
  display: block;
  content: '';
  list-style: none;
  width: 100%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;

  .publication-vid {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 320px;
    
    figure {
      margin: 0;
      
      figcaption {
        font-size: 0.8em;
        text-align: center;
      }
    }
  }

  .publication-vid-text {
    overflow: hidden;
    margin-bottom: 10px;
    
    p {
      margin: 0;
    }
  }
}

.publication-fig {
  float: left;
  box-sizing: border-box;
  width: 37%;
}

.publication-text {
  padding-left: 5px;
  float: left;
  box-sizing: border-box;
  width: 63%;
}

a.noarrow::after {
  content: none !important;
}

figcaption b {
  color: inherit;
}

.publication-fig img {
  max-height: 180px;
  width: auto;
  max-width: 180px;
}


@include media-query($on-mobile) {
  .publication {
    display: block;
    font-size: $small-font-size;
  }

  .publication-text {
    display: block;
    width: 100%;
    text-align: center;
  }
  .publication-fig {
    display: block;
    width: 100%;
  }
  .publication-vid {
    display: block;
    width: 100%;
  }
  .publication-vid-text {
    display: block;
    width: 100%;
  }
}

.publication > h4 {
  text-align: center;
  margin-top: 0;
}

// Language switcher styles
.language-switcher {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;

  .lang-link {
    color: $text-base-color;
    text-decoration: none;
    font-weight: 600;
    font-size: $small-font-size;
    padding: 5px 10px;
    border: 1px solid $text-base-color;
    border-radius: 3px;
    transition: all 0.3s ease;

    &:hover {
      background-color: $text-base-color;
      color: $white;
    }
  }
}

// Dark mode language switcher
[data-theme="dark"] {
  .language-switcher {
    .lang-link {
      color: $dark-text-base-color;
      border-color: $dark-text-base-color;

      &:hover {
        background-color: $dark-text-base-color;
        color: $dark-black;
      }
    }
  }
}

// Russian language specific adjustments
html[lang="ru"] {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }

  .post-item-date {
    min-width: 115px;
  }
}